<h1>All Notes</h1>

<div class="row">
  <% @notes.each do |note| %>
    <div class="col-md-3">
      <div class="note-panel">
        <%= link_to note do %>
          <strong><%= note.title %></strong>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
