<%= form_for @note do |f| %>
  <div class="form-group">
    <%= f.text_field :title, class: "form-control", placeholder: "Title" %>
  </div>
  <div class="row">
    <div class="col-xs-6">
      <h2>Editor</h2>
      <%= f.text_area :content, class: "form-control", id: "editor" %>
    </div>
    <div class="col-xs-6">
      <h2>Preview</h2>
      <div id="note">
        <small id="date"><%= japtime_for(Time.now) %></small>
        <h1 id="title"></h1>
        <div id="result"></div>
      </div>
    </div>
  </div>
  <br>
<% end %>