<div class="row">
  <div class="col-xs-6">
    <h2>Editor</h2>
    <textarea id="editor" class="form-control"></textarea>
  </div>
  <div class="col-xs-6">
    <h2>Preview</h2>
    <div id="result"></div>
  </div>
</div>